@import url(//dablulite.github.io/css-snippets/ConsistentChatbar/import.css);

/* Shows original link of markdown-masked links */
@import url(https://minidiscordthemes.github.io/Snippets/ShowOriginalLink/ShowOriginalLink.css);

/* Efficienct Settings */
@import url(https://minidiscordthemes.github.io/Snippets/EfficientSettings/EfficientSettings.css);

/* SplitMessageBars: Positions both the *new messages* and *viewing old messages* bars on top of the channel text area */
@import url(https://minidiscordthemes.github.io/Snippets/SplitMessageBars/SplitMessageBars.css);

@import url(//dablulite.github.io/css-snippets/ClydeNickname/import.css); // Change Clyde name
:root {
  --clyde-nickname: "Bot";
}

// Make blocked messages smaller until expanded (I sometimes need to read blocked messages for context)
:not([class*="messageListItem-"]) [class^="groupStart-"]:not([class*="expanded-"]) {
  max-height: 1px;
}
[class^="groupStart-"] {
  margin-top: 0 !important;
  margin-bottom: 25px;
}

/* Add yellow warning colour to masked links on hover */
[id^="message-content-"] a[href][title*="\a("]:hover { color: var(--text-warning); }

/* emojis reacts glow when you react */
  .reactionMe-1PwQAc {
   box-shadow: 0px 0px 6px rgb(0, 89, 255),  0px 0px 50px rgb(0, 153, 255);
   filter: saturate(1.5);
   filter:blur(0.3px);
}

/* Makes messages slide into chat 
Try changing the second value '0.6s' and fiddle around with it to change the speed*/
@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.message-2CShn3 {
  animation: slide-up 0.6s ease;
}

/* Pulverize the `Other active threads` thing because its so fucking ANNOYING */
.popout-TdhJ6Z {
  display: none
}

/* Make Discord stop bothering you about their stupid threads */
[class^="threadSuggestionBar"] {
    display: none;
}
/* hide prompt to send a sticker when someone joins a server */
[class*="welcomeCTA"] { display:none; }

/* hide messages replying to system join messages (only stickers) */
[class^=messageListItem]:has([id^=message-reply-context] > svg[class^=userJoinSystemMessageIcon]) {
  display: none;
}

/* remove the obnoxious new emote stuff (sadly it's not possible to hide the entire top emojis section with pure css without leaving a gap / shrinking the picker) */
#emoji-picker-tab-panel :is([class^=badgeLabel-], [class^=newlyAddedBadge]) {
    display: none;
}

[class^=newlyAddedHighlight], [class^=newlyAddedHighlight]:hover {
    border: none;
}
