@import url(//dablulite.github.io/css-snippets/AccountDetailsGrid/import.css);

@import url(//dablulite.github.io/css-snippets/BetterAuthApps/import.css);

@import url(https://dablulite.github.io/css-snippets/NoLightInDark/import.css);

@import url('https://martinz64.github.io/remove-nitro/better_sessions.css'); /* Improved devices view: */

@import url(https://blade04208.github.io/css/SignIt/settings.css); /* Made by me */
:root {
    --sign-text:'Made by empiricaldata'; 
    --sign-color: var(--text-muted); 
}

/* Removed Password and Delete Account Section */
.buttonContainer-cmXa0P,
.children-2C96Ex > .colorStandard-1Xxp1s.size14-k_3Hy4,
.h5-2feg8J.eyebrow-2wJAoF.defaultMarginh5-3THN2O,
.divider-3nqZNm,
.flex-2S1XBF.flex-3BkGQD.horizontal-112GEH > .flexChild-3PzYmX,
.h1-3iMExa.title-lXcL8p,

.socialLinks-3ywLUf /* Removed Social Links */
{display:none;}

/* Moved Change Password Button into Account Grid */
.changePasswordButton-3j5UVD.button-ejjZWC {
    background-color: var(--button-secondary-background);
    border-radius: 6px;
    -webkit-transition: background-color .17s ease,color .17s ease;
    transition: background-color .17s ease,color .17s ease;
    width: 75%;
    margin-left: 75px;
    margin-top: -80px;
}
.changePasswordButton-3j5UVD.button-ejjZWC:hover {
    background-color: var(--button-secondary-background-hover);
}
.fieldList-in8WkP {
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    padding-bottom: 33px;
}
    
/* Blur out the email and phone number in settings (\w reveal on hover) */
[class^="accountProfileCard"] [class^="field"]:nth-child(n+3) [class^="text-md-normal"] {
    filter: blur(7px);
    transition: filter 0.2s ease-in-out;
}
[class^="accountProfileCard"] [class^="field"]:nth-child(n+3) [class^="text-md-normal"]:hover {
    filter: none;
}
[class*="formText"]:has(> [class*="phoneRevealer"]) {
    visibility: hidden;
    margin-bottom: -4px;
}

/* Auth Apps Blurb Removal */
.formNotice-1JW4h2 {display:none;}
.children-2C96Ex > .authedApp-8q3NA9
{margin-top: 25px;}

/* remove login artwork */
svg.artwork-L5TAwQ {
    display: none !important;
    visibility: hidden !important;
}

@media (max-width: 1200px) {
  aside[class*="membersWrap-"] { display: none; }
}
